asgiref
Django
django-extra-views
django-filter
django-jazzmin
django-modeltranslation
djangorestframework
drf-yasg
et-xmlfile
gunicorn
inflection
openpyxl
packaging
pillow
pytz
PyYAML
sqlparse
typing_extensions
tzdata
uritemplate
whitenoise
